header.catalog {
   min-height: 300px;
   margin-bottom: 75px;
}

header.catalog h1 {
    margin: 0;
    padding: 0;
    padding-left: 89px;
    width: 700px;
    font: 40px/52px "Roboto Medium";
    text-transform: uppercase;
    text-align: center;
}

.catalog .header-nav {
    
}

.catalog img[src="img/logo.png"] {
    margin-bottom: 56px;
}

form.parameters {
    float: left;
    
}

.parameters fieldset {
    border: none;
    padding: 0;
    margin: 0;
    
}

.parameters legend {
    padding: 0;
    font: 18px/30px "Roboto Medium";
    text-transform: uppercase;
}

.parameters legend.price-template {
    margin-bottom: 12px;
}

.parameters .cost-filter {
    width: 240px;
}

.parameters .range {
    position: relative;
    height: 80px;
    width: 240px;
    margin-bottom: 13px;
    background-color: #f1f1f1;
}

.parameters .range-filter {
    position: relative;
    top: 38px;
    left: 20px;
    height: 2px;
    width: 200px;
    background-color: #d7dcde;
}

.parameters .bar {
    height: 2px;
    background-color: #00ca74;
}

.parameters .toggle-min, .parameters .toggle-max {
    position: absolute;
    width: 4px;
    height: 4px;
    background-color: #ababab;
    border: 8px solid white;
    border-radius: 50%;
    box-shadow: 0 2px 1px #cfcfcf;
    cursor: pointer;
}

.parameters .toggle-min {
    top: 29px;
    left: 20px;
}

.parameters .toggle-max {
    top: 29px;
    left: 160px;
}

.parameters .price-fields {
    
}

.parameters .cost-filter input[type="text"] {
    box-sizing: border-box;
    width: 80px;
    height: 40px;
    border: none;
    background-color: #f1f1f1;
    font: 16px/22px "Roboto Medium";
    text-align: center;
}

.parameters .cost-filter input.first-input {
    margin-left: 2px;
    margin-right: 15px;
}

.parameters .cost-filter input.second-input {
    margin-left: 4px;
}

.parameters label {
    color: #283136;
}

.parameters label:hover {
    color: #000000;
}

.parameters label[for="from-cost"], .parameters label[for="to-cost"] {
    text-transform: uppercase;
}


.parameters input[type="checkbox"], .parameters input[type="radio"] {
    display: none;      
}

.parameters input[type="radio"] + label::before, .parameters input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    margin-right: 10px; 
    background-image: url(img/forms.png);
    background-repeat: no-repeat;
}

.parameters input[type="radio"] + label::before {
    background-position: -79px -5px; 
}

.parameters input[type="radio"] + label:hover::before {
    background-position: -40px -75px; 
}

.parameters input[type="checkbox"] + label::before {
    background-position: -38px -5px;    
}

.parameters input[type="checkbox"] + label:hover::before {
    background-position: -5px -5px;  
}


.parameters input[type="radio"]:checked + label::before {
    background-position: -79px -40px;
}

.parameters input[type="radio"]:checked + label:hover::before {
    background-position: -5px -75px;
}

.parameters input[type="checkbox"]:checked + label::before {
    background-position: -42px -38px;
}

.parameters input[type="checkbox"]:checked + label:hover::before {
    background-position: -5px -38px;
}

.parameters button[type="submit"] {
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 47px;
    padding-right: 47px;
    background-color: #f1f1f1;
    border: none;
    font: 12px/18px "Roboto Medium";
}

.parameters fieldset.cost {
    padding-bottom: 0;
    margin-bottom: 45px;
}

.parameters fieldset.grid {
    padding-bottom: 0;
    margin-bottom: 22px;
}

.parameters fieldset.features {
    padding-bottom: 0;
    margin-bottom: 32px;
}

.items {
    float: right;
    margin-right: -15px;
    padding-top: 0;
    width: 575px;
}

.items .sort-items {
    position: relative;
    margin-bottom: 17px;
}

.items .sort {
    margin: 3px;
    margin-left: -40px;
    font-size: 0;
}

.items .sort li {
    display: inline-block;
    margin-right: 43px;
    
}

.items .sort li:first-child {
    font: 14px/18px "Roboto Medium";
    color: #000000;
}

.items .sort a {
    text-decoration: none;
    font: 14px/18px "Roboto Medium";
    color: #c7c7c7;
    border-bottom: 1px dotted #00ca74;
}

.items .sort a:hover {
    border-bottom: 1px solid #00ca74;
    color: black;
}

.items .sort a:active {
    border-bottom: none;
    color: black;
}

.items a.sort-button-down::before {
    display: block;
    position: absolute;
    content: "";
    top: 5px;
    left: 532px;
    position: absolute;
    border: 5px solid transparent;
    border-top: 9px solid #00ca74;
}

.items a.sort-button-up::before {
    display: block;
    position: absolute;
    content: "";
    top: 0;
    left: 549px;
    position: absolute;
    border: 5px solid transparent;
    border-bottom: 9px solid #c1c1c1;
}

a.sort-button-down:hover::before {
    border: 5px solid transparent;
    border-top: 9px solid #b5b5b5;
}

a.sort-button-down:active::before {
    border: 5px solid transparent;
    border-top: 9px solid black;
}

a.sort-button-up:hover::before {
    border: 5px solid transparent;
    border-bottom: 9px solid #b5b5b5;
}

a.sort-button-up:active::before {
    border: 5px solid transparent;
    border-bottom: 9px solid black;
}

.items article {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    width: 240px;
    height: 270px;
    margin-bottom: 80px;
    margin-left: 77px;
}

.items article header {
    box-sizing: border-box;
    height: 30px;
    padding-top: 4px;
    padding-left: 10px;
    border-radius: 2px 2px 0 0;
    background-color: #f1f1f1;
}

.items article button {
    width: 11px;
    height: 11px;
    margin-right: 3 px;
    border: none;
    border-radius: 100px;
    background-color: white;
    cursor: pointer;
}

.items article:nth-child(2n) {
    margin-left: 0;
    
}

.items img {
    position: absolute;
    
}

.items .hover-item {
    display: none;
    position: absolute;
    bottom: 20px;
    left: 20px;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: white;
}

.items .hover-item h2 {
    margin: 0;
    
    font: 18px/24px "Roboto Medium";
    text-transform: uppercase;
    text-align: center;
}

.items .hover-item p {
    font: 14px/18px "Roboto Medium";
    text-align: center;
    margin-bottom: 28px;
}

.items .hover-item a {
    display: block;
    position: absolute;
    left: 30px;
    bottom: 30px;
    width: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #fb565a; 
    font: 14px/18px "Roboto Medium";
    text-decoration: none;
    text-transform: uppercase;
    color: white;
} 

.items .hover-item a:hover {
    background-color: #d6494d; 
    
}

.items .hover-item a:active {
    background-color: #b63538; 
    
}

.page-buttons {
    clear: both;
    margin-bottom: 80px;
    padding-left: 320px;
}

.page-buttons a {
    position: relative;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    z-index: 10;
    width: 38px;
    height: 38px;
    margin-right: 6px;
    padding-left: 15px;
    padding-top: 9px;
    border-radius: 2px;
    background-color: #f1f1f1;
    font: 12px/18px "Roboto Medium";
    text-decoration: none;
    color: black;
    
}

.page-buttons a.next-page { 
    z-index: 100;
    width: 140px;
    padding-left: 31px;
}

.page-buttons a.current-page {
    background-color: white;
    border: 2px solid #f1f1f1;
    padding-left: 13px;
    padding-top: 7px;
    cursor: default;
}

.page-buttons a:hover {
    background-color: #e5e5e5;
}

.page-buttons a:active {
    background-color: #d5d5d5; 
    background-image: url(img/small-border.png);   
    background-repeat: no-repeat;
}

.page-buttons a.next-page:active {
    background-image: url(img/big-border.png);   
    background-repeat: no-repeat;
}


.page-buttons a.current-page:hover {
    background-color: white;
}

.page-buttons a.current-page:active {
    background-color: white;
    background-image: none;
    border: 2px solid #f1f1f1;
    padding-top: 7px;;
}