body {
    font-family: 'Ubuntu Condensed', sans-serif;
}

body.blog-body {
    background-color: #242d39;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}

.main-header {
    position: fixed;
    z-index: 3;
    top: 0;
    width: 100%;
    height: 70px;
}

.main-header .small-logo {
    float: left;
    margin-top: 9px;
}

.main-header .main-nav {
    box-sizing: border-box;
}

.main-header .main-nav ul {
    float: right;
}

.main-header .main-nav li {
    margin-top: 8px;
    display: inline-block;
    
}

.main-header .main-nav a {
    position: relative;
    margin-left: 25px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.main-header .main-nav a::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    position: absolute;
    left: 0;
    bottom: -5px;
    background-color: white;
    opacity: 0;
    
}

.main-header .main-nav a:hover::after, .main-header .main-nav a.active::after {
    transition: width 0.2s ease-out;
    opacity: 1;
    width: 100%;
}

.main-header a.active {
    pointer-events: none;
}

.header-background {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    background-color: black;
    opacity: 0;
    transition: opacity 1.5s;
}

.main-page {
    display: table;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(img/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main-page .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.main-page .page-content {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}

.main-page .big-logo {
    display: block;
    margin: auto;
    margin-bottom: 19px;
}

.main-page h1 {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.main-page .scroll-button {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 50px;
    width: 63px;
    height: 24px;
    margin-left: -30px;
    font-size: 0;
}

.main-page a.scroll-button:before {
    content: "";
    display: block;
    position: absolute;
    top: 15px;;
    left: -6px;
    transform: rotate(45deg);
    width: 45px;
    height: 3px;
    background-color: white;
}

.main-page a.scroll-button:after {
    content: "";
    display: block;
    position: absolute;
    top: 15px;
    left: 24px;
    transform: rotate(135deg);
    width: 45px;
    height: 3px;
    background-color: white;
}

.about {
    height: 100vh;
}

.about .upper-block {
    display: table;
    width: 100%;
    height: 50vh;
    background-color: #242d39;
    -padding-top: 105px;
    -padding-bottom: 45px;
}

.logo-block {
    display: table-cell;
    vertical-align: middle;
}

.about .upper-block .big-logo {
    display: block;
    margin: auto;
    margin-bottom: 20px;
   
}

.about .upper-block h1 {
    margin: 0;
    font-size: 48px;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.about .lower-block {
    height: 50vh;
    padding-top: 44px;
    -padding-bottom: 136px;
}

.about .lower-block p {
    width: 500px;
    margin: auto;
    font-size: 23px;
    line-height: 28px;
    letter-spacing: 1.222px;
    
}

.lower-block .contacts-block {
    width: 195px;
    margin: auto;
    margin-top: 25px;
    text-align: center;
}

.lower-block .contacts-block a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 27px;
    font-size: 0;
}

.lower-block .contacts-block a:last-child {
    margin-right: 0;
}

.lower-block .contacts-block a:after {
    content: "";
    display: block;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}

.lower-block .contacts-block a[href*="github"]:after {
    width: 37px;
    height: 37px;
    background-position: -52px -5px;
}

.lower-block .contacts-block a[href*="twitter"]:after {
    width: 42px;
    height: 36px;
    background-position: -57px -52px;
}

.lower-block .contacts-block a[href*="vk.com"]:after {
    width: 37px;
    height: 37px;
    background-position: -109px -52px;
}

.work {
    box-sizing: border-box;
    display: table;
    width: 100%;
    height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #181e2a;
}

.work .gallery {
    display: table-cell;
    vertical-align: middle;
    
}

.work .gallery .work-main {
    width: 75%;
    float: left;
}

.work .gallery .work-main img {
    display: block;
    width: 100%;
    
    
}

.work .gallery .work-small {
   box-sizing: border-box;
   width: 25%;
   padding-left: 1.5%;
   float: right;
}

.work .gallery .work-small .pic-container {
    position: relative;
    margin-bottom: 5.8%;
}

/*.work .gallery .work-small .pic-container.first {
    background-image: url(img/small-bird.jpg);
    background-size: cover;
}

.work .gallery .work-small .pic-container.second {
    background-image: url(img/bug.jpg);
    background-size: cover;
}

.work .gallery .work-small .pic-container.third {
    background-image: url(img/abstract-image.jpg);
    background-size: cover;
}*/

.work .gallery .work-small .pic-container:last-child {
    margin-bottom: 0;
}

.work .gallery .work-small .pic-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7)
}

.work .gallery .work-small .pic-overlay.show-pic {
    display: none;
}

.work .gallery .work-small img {
    display: block;
    width: 100%;
    
}

.work .gallery .work-small img:last-child {
    margin-bottom: 0;
}

.contact {
    display: table;
    width: 100%;
    height: 100vh;
    -padding-top: 158px;
    -padding-bottom: 95px;
    background-color: black;
}

.contact .content-container {
    display: table-cell;
    vertical-align: middle;
}

.contact .heading {
    margin: 0;
    font-size: 36px;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-align: center;
    color: #d4e2e3;
}

.contact form {
    vertical-align: middle;
    width: 510px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 96px;
    padding: 0;
    text-align: center;
    overflow: hidden;
}

.contact input {
    display: inline-block;
    box-sizing: border-box;
    padding: 0;
    background-color: #d4e2e3;
    border: none;
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 25px;
    color: black;
}

.contact input::-moz-placeholder {
    opacity: 1;
}

.contact input::-ms-input-placeholder {
    opacity: 1;
}

.contact input::-webkit-input-placeholder {
    opacity: 1 !important;
}

.contact textarea::-moz-placeholder {
    opacity: 1;
}

.contact input[placeholder="Your Name"] {
    float: left;
    width: 250px;
    height: 50px;
    padding-left: 7px;
}

.contact input[placeholder="Your E-Mail"] {
    float: right;
    width: 250px;
    height: 50px;
    padding-left: 7px;
}

.contact input[type="submit"] {
    width: 250px;
    height: 50px;
    background-color: black;
    color: #d4e2e3;
    border: 1px solid #d4e2e3;
}

.contact textarea {
    display: inline-block;
    resize: none;
    width: 508px;
    height: 95px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 23px;
    padding-left: 7px;
    border: none;
    font-size: 25px;
    background-color: #d4e2e3;
}

.contact .follow-us {
    width: 195px;
    margin: auto;
    margin-top: 35px;
    text-align: center;
}

.contact .follow-us a {
    display: inline-block;
    vertical-align: middle;
    margin-right: 27px;
    font-size: 0;
}

.contact .follow-us a:last-child {
    margin-right: 0;
}

.contact .follow-us a:after {
    content: "";
    display: block;
    background-image: url(img/icons.png);
    background-repeat: no-repeat;
}

.contact .follow-us a[href*="github"]:after {
    width: 37px;
    height: 37px;
    background-position: -5px -5px;
}

.contact .follow-us a[href*="twitter"]:after {
    width: 42px;
    height: 36px;
    background-position: -5px -52px;
}

.contact .follow-us a[href*="vk.com"]:after {
    width: 37px;
    height: 37px;
    background-position: -99px -5px;
}

.blog {
    width: 51%;
    min-width: 700px;
    margin: auto;
    margin-top: 170px;
    padding-top: 44px;
    background-color: white;
}

.blog .blog-post {
    
    padding-bottom: 47px;
    font-size: 17px;
}

.blog .blog-post time {
    display: block;
    position: relative;
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 75px;
    font-size: 20px;
    color: #d4e2e3;
    text-transform: uppercase;
}

.blog .blog-post time:before {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    width: 80%;
    height: 2px;
    background-color: #e6e6e6;
}

.blog .blog-post time:after {
    content: "";
    display: block;
    position: absolute;
    top: 50px;
    width: 50px;
    height: 2px;
    background-color: #d98080;
}


.blog .blog-post h1 {
    padding: 0;
    padding-left: 10%;
    padding-right: 10%;
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Merriweather', serif;
    font-size: 30px;
    text-transform: uppercase;

}

.blog .blog-post p {
    margin-left: 10%;
    margin-right: 10%;
}

.blog .blog-post ul {
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
    list-style: none;
}

.blog .blog-post ul li {
    margin: 0;
}

.blog .blog-post img {
    display: block;
    width: 100%;
    margin-top: 45px;
}

.blog-footer {
    box-sizing: border-box;
    width: 51%;
    min-width: 700px;
    height: 85px;
    margin: auto;
    margin-bottom: 100px;
    background-color: #d4e2e3;
}

.blog-footer .button-block {
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 10px;
    
}

.blog-footer a.page-button {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-color: #b30000;
} 

.blog-footer a.page-button.disabled {
    pointer-events: none;
    background-color: #cccccc;
}

.blog-footer a.page-button.up {
    float: right;
    margin-top: 16px;
}

.blog-footer a.page-button.previous {
    margin-right: 6px;
}

.blog-footer a.page-button:before {
    content: "";
    display: block;
    width: 12px;
    height: 5px;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #d4e2e3;
    transform: rotate(45deg);
}

.blog-footer a.page-button:after {
    content: "";
    display: block;
    width: 12px;
    height: 5px;
    position: absolute;
    top: 15px;
    left: 10px;
    background-color: #d4e2e3;
    transform: rotate(-45deg);
}

.blog-footer a.page-button.previous:before {
   transform: rotate(-45deg);
   left: 8px;
}

.blog-footer a.page-button.previous:after {
    transform: rotate(45deg);
    left: 8px;
}

.blog-footer a.page-button.up:before {
   transform: rotate(135deg);
    top: 12px;
    left: 6.5px;
}

.blog-footer a.page-button.up:after {
    transform: rotate(-135deg);
    top: 12px;
    left: 11.5px;
}
