body {
    min-width: 1360px;
    font-family: Lato;
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 36px;
    font-family: Lato;
    font-weight: 900;
}

.content-wrapper {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
    width: 1174px;
}

.subheading {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 20px;
    font-weight: 300;
}

.slider {
    position: relative;
    overflow: hidden;
    margin-bottom: 1px;
    padding-bottom: 14px;
    background-color: #1f262e;
    background-image: url(images/background.jpg);
    font-family: Lato;
    background-position: 50% 43%;
    background-size: cover;
    border-bottom: 4px solid #7dabbf;
    color: white;
}

.slider .main + .content-wrapper {
    overflow: visible;
    position: relative;
}

.slider .main + .content-wrapper:before {
    display: block;
    content: "";
    position: absolute;
    left: -222px;
    bottom: -222px;
    width: 755px;
    height: 682px;
    transform: rotate(-10deg);
    background-image: url(images/smartphone.png);
    -background-position: 0px 0px;
    background-size: 100% auto;
    background-repeat: no-repeat;
    -background-attachment: scroll;
}

.slider .main + .content-wrapper:after {
    display: block;
    content: "";
    clear: both;
}

.slider header.main {
    overflow: hidden;
    padding-top: 17px;
    padding-bottom: 28px;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: "Droid Sans";
    font-size: 13px;
}

.slider .main-menu {
    padding-top: 24px;
    float: right;
}

.slider .main-menu ul {
    padding: 0;
    margin: 0;
   
}

.slider .main-menu ul li {
    padding: 0;
    margin: 0;
    margin-left: 35px;
    display: inline-block;
    
}

.slider .main-menu ul a {
    overflow: visible;
    position: relative;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: -0.3px;
}

.slider .main-menu ul a:hover {
    color: #4bcaff;
}

.slider .main-menu ul a.active {
    color: #4bcaff;
    font-weight: bold;
}

.slider .main-menu ul a.active:before {
    display: block;
    content: "";
    position: absolute;
    top: -39px;
    width: 100%;
    height: 2px;
    background-color: #4bcaff;
    
}

.slider .slider-content {
    position: relative;
    z-index: 1;
    float: right;
    width: 672px;
    padding-top: 206px;
}

.slider .slider-content h1 {
    font-size: 48px;
    font-weight: 300;
    margin-bottom: 1px;
    color: white;
    text-align: left;
    margin-top: 33px;
    font-family: Lato;
}

.slider .slider-content .amazing {
    font-weight: 700;
}

.slider .slider-content p {
    font-size: 18px;
    font-weight: 300;
}

.slider .slider-content .rectangle-button {
    display: inline-block;
    box-sizing: border-box;
    width: 195px;
    height: 65px;
    margin-top: 20px;
    margin-left: 3px;
    margin-bottom: 52px;
    border-radius: 7px;
    font-family: Lato;
    color: white;
    font-weight: 700;
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 22px;
    vertical-align: top;
    text-align: center;
}

.slider .slider-content .download {
    border: 2px solid white;
    margin-right: 34px;
    
}

.slider .slider-content .learn-more {
    height: 62px;
    background-color: #4bcaff;
    box-shadow: 0 4px 0 #277697;
}

.slider .slider-content .mobile-platforms {
    margin-left: 2px;
    font-size: 18px;
    font-weight: 300;
}

.slider .slider-content .mobile-platforms .available {
    margin-right: 20px;
}

.slider .slider-content .mobile-platforms a {
    display: inline-block;
    vertical-align: middle;
    width: 52px;
    height: 52px;
    margin-right: 13px;
    position: relative;
    background-color: #242b33;
    border-radius: 100%;
    font-size: 0;
}

.slider .slider-content .mobile-platforms a:after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
}

.slider .slider-content .mobile-platforms a.apple:after {
    width: 20px;
    height: 25px;
    top: 26px;
    left: 26px;
    margin-top: -15px;
    margin-left: -10px;
    background-position: -37px -5px;
}

.slider .slider-content .mobile-platforms a.android:after {
    width: 22px;
    height: 25px;
    top: 26px;
    left: 26px;
    margin-top: -12px;
    margin-left: -11px;
    background-position: -5px -5px;
}

.slider .slider-button {
    position: absolute;
    width: 55px;
    height: 55px;
    border-radius: 100%;
    border: none;
}

.slider .slider-button.left {
    left: -582px;
    bottom: 259px;
    background-color: rgba(75, 202, 255, 0.2);
}

.slider .slider-button.right {
    left: 702px;
    bottom: 259px;
    background-color: #4bcaff;
    transform: scale(-1, 1);
}


.slider .slider-button.left:after, .slider-button.right:after {
    display: block;
    content: "";
    position: absolute;
    top: 29px;
    left: 22px;
    width: 9px;
    height: 2px;
    background-color: white;
    transform: rotate(45deg);
}

.slider .slider-button.left:before, .slider-button.right:before {
    display: block;
    content: "";
    position: absolute;
    top: 24px;
    left: 22px;
    width: 9px;
    height: 2px;
    background-color: white;
    transform: rotate(-45deg);
}

.slider .slider-button.right:before, .slider-button.right:after {
    background-color: #4e7384;
}

.slider .radio-buttons {
    text-align: center;
    padding-top: 80px;
}

.slider .radio-buttons input {
    display: none;
}

.slider .radio-buttons label {
    display: inline-block;
    position: relative;
    overflow: visible;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 0;
    cursor: pointer;
}

.slider .radio-buttons label:after {
    display: block;
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: -7px;
    bottom: 2px;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 100%;
}

.slider .radio-buttons input:checked + label:after {
     display: block;
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: -10px;
    bottom: 0;
    width: 16px;
    height: 16px;
    background-color: #4bcaff;
    border: none;
    border-radius: 100%;
}

.features {
    overflow: hidden;
    padding-top: 40px;
    padding-bottom: 77px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
}

.features .subheading {
    margin-bottom: 67px;
}

.features .feature-block {
    width: 232px;
    position: relative;
    margin-right: 82px;
    float: left;
}

.features .feature-block:last-child {
    margin-right: 0;
}

.features .feature-block h2 {
    margin: 0;
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    font-family: Lato;
    font-weight: bold;
    color: #414042;
}

.features .feature-block p {
    padding-top: 4px;
    padding-left: 3px;
    padding-right: 5px;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
}

.features .feature-block.multipurpose h2 {
    color: #4bcaff;
}

.features .feature-block:before {
    display: block;
    content: "";
    box-sizing: border-box;
    width: 170px;
    height: 170px;
    margin: auto;
    margin-bottom: 24px;
    background-color: #4bcaff;
    border: 4px solid #efefef;
    border-radius: 100%;
}

.features .feature-block.multipurpose:before {
    background-color: #414042;
}

.features .feature-block:after {
    display: block;
    content: "";
    position: absolute;
    background-image: url(images/icons.png);
    background-repeat: no-repeat;
}

.features .feature-block.layout:after {
    top: 48px;
    left: 79px;
    width: 70px;
    height: 70px;
    background-position: -62px -81px;
}

.features .feature-block.design:after {
    top: 52px;
    left: 94px;
    width: 47px;
    height: 69px;
    background-position: -5px -81px;
}

.features .feature-block.multipurpose:after {
    top: 49px;
    left: 82px;
    width: 70px;
    height: 70px;
    background-position: -147px -5px;
}

.features .feature-block.customize:after {
    top: 50px;
    left: 82px;
    width: 70px;
    height: 66px;
    background-position: -67px -5px;
}